/* Write your global styles here, in SCSS syntax. */
/* Import only what you need from Bulma */

// Variables
@import 'variables';

// Fonts
@import '@mdi/font/scss/materialdesignicons';

// Import Bulma styles
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';

:root {
  --brand-title-size: calc(#{$title-size} * 2 + 0.35);
  --brand-subtitle-size: calc(#{$title-size} * 0.5 + 0.35);
  --border-radius: #{$radius};
  --border-radius-large: #{$radius-large};
  --size-1: #{$size-1};
  --size-2: #{$size-2};
  --size-3: #{$size-3};
  --size-4: #{$size-4};
  --size-5: #{$size-5};
  --size-6: #{$size-6};
  --size-7: #{$size-7};
}

html,
body {
  min-height: 100%;
}

#app {
  min-height: 100vh;
}

.is-fullheight {
  height: 100%;
}

.is-translucent-black {
  background-color: hsl(0, 0%, 0%, 0.8) !important;
  box-shadow: none !important;
}

.flash {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

//* {
//  outline: lightgrey dashed 1px;
//}
//.container {
//  outline: lightgreen dashed 4px;
//}
//.columns {
//  outline: lightskyblue dashed 3px;
//}
//.column {
//  outline: lightblue dashed 2px;
//}
