/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

// Colors
$blue: #00bcf5;
$indigo: #6574cd;
$purple: #6b32ca;
$pink: #f66d9b;
$red: #ff3a65;
$orange: #ff7a3f;
$yellow: #fbbd23;
$green: #82cf5f;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #00bcf5;

$family-sans-serif: 'CiscoSansTT', BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$family-monospace: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
  'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

$mdi-font-path: '@mdi/font/fonts';
